[submodule "base"]
	path = modules/base
	url = http://github.com/AversivePlusPlus/base.git
[submodule "cmake/toolchain/avr"]
	path = toolchains/avr
	url = https://github.com/AversivePlusPlus/toochain-avr.git
[submodule "cmake/toolchain/stm32"]
	path = toolchains/stm32
	url = https://github.com/AversivePlusPlus/toolchain-stm32.git
[submodule "container"]
	path = modules/container
	url = https://github.com/AversivePlusPlus/container.git
[submodule "stream"]
	path = modules/stream
	url = https://github.com/AversivePlusPlus/stream.git
[submodule "cmsis-core"]
	path = modules/thirdparty/cmsis-core
	url = https://github.com/AversivePlusPlus/cmsis-core.git
[submodule "cmsis-stm32f4xx"]
	path = modules/thirdparty/cmsis-stm32f4xx
	url = https://github.com/AversivePlusPlus/cmsis-stm32f4xx.git
[submodule "stm32cube-hal-stm32f4xx"]
	path = modules/thirdparty/stm32cube-hal-stm32f4xx
	url = https://github.com/AversivePlusPlus/stm32cube-hal-stm32f4xx.git
[submodule "modules/device"]
	path = modules/device
	url = https://github.com/AversivePlusPlus/device.git
[submodule "toolchain/simul"]
	path = toolchains/simul
	url = https://github.com/AversivePlusPlus/toolchain-simul.git
[submodule "modules/sasiae"]
	path = modules/sasiae
	url = https://github.com/AversivePlusPlus/sasiae.git
[submodule "modules/filter"]
	path = modules/filter
	url = https://github.com/AversivePlusPlus/filter
[submodule "modules/device-control"]
	path = modules/device-control
	url = https://github.com/AversivePlusPlus/device-control.git
[submodule "modules/device-2wheel"]
	path = modules/device-2wheel
	url = https://github.com/AversivePlusPlus/device-2wheel
[submodule "modules/feetech"]
	path = modules/feetech
	url = https://github.com/AversivePlusPlus/feetech.git
[submodule "toolchain/switch"]
	path = toolchains/switch
	url = https://github.com/AversivePlusPlus/toolchain-switch.git
[submodule "toolchain/generic"]
	path = toolchains/generic
	url = https://github.com/AversivePlusPlus/toolchain-generic.git
[submodule "tools/conan"]
	path = tools/conan
	url = https://github.com/astralien3000/conan.git
[submodule "modules/arduino"]
	path = modules/thirdparty/arduino
	url = https://github.com/astralien3000/arduino.git
[submodule "examples/template-project"]
	path = examples/template-project
	url = https://github.com/AversivePlusPlus/template-project.git
[submodule "tools/tinySASIAE"]
	path = tools/tinySASIAE
	url = https://github.com/astralien3000/tinySASIAE.git
[submodule "examples/project-2wheel-asserv"]
	path = examples/project-2wheel-asserv
	url = https://github.com/AversivePlusPlus/project-2wheel-asserv.git
[submodule "tools/ik"]
	path = tools/ik
	url = https://github.com/AversivePlusPlus/ik.git
