[submodule "base"]
	path = modules/base
	url = http://github.com/AversivePlusPlus/base.git
[submodule "container"]
	path = modules/container
	url = https://github.com/AversivePlusPlus/container.git
[submodule "stream"]
	path = modules/stream
	url = https://github.com/AversivePlusPlus/stream.git
[submodule "modules/device"]
	path = modules/device
	url = https://github.com/AversivePlusPlus/device.git
[submodule "modules/filter"]
	path = modules/filter
	url = https://github.com/AversivePlusPlus/filter
[submodule "modules/device-control"]
	path = modules/device-control
	url = https://github.com/AversivePlusPlus/device-control.git
[submodule "modules/device-2wheel"]
	path = modules/device-2wheel
	url = https://github.com/AversivePlusPlus/device-2wheel
[submodule "modules/feetech"]
	path = modules/feetech
	url = https://github.com/AversivePlusPlus/feetech.git
[submodule "modules/cas"]
	path = modules/cas
	url = https://github.com/AversivePlusPlus/cas.git
[submodule "modules/ik"]
	path = modules/ik
	url = https://github.com/AversivePlusPlus/ik.git
[submodule "modules/stream-riot"]
	path = modules/stream-riot
	url = https://github.com/astralien3000/stream-riot.git
